<Section class="intro-website min-h-screen pt-20">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center">
      <div class="text-center md:text-left">
        <h1 class="text-4xl font-extrabold py-6">Welcome to Fresh Cart </h1>
        <p class="text-xl mt-4">Iscover a unique shopping experience with the latest products at the best prices! We
          offer exclusive deals, secure payment options, and fast delivery right to your doorstep.</p>
      </div>
      <div>
        <img class="mx-auto w-full" src="images/4542747.jpg" alt="">
      </div>
    </div>
  </div>
</Section>
