<section>
  <div class="container">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 py-5 text-center">

      <div class="card-overview shadow-sm border border-[rgba(0,0,0,0.3)] rounded-s-full rounded-e-full py-5">
        <div class="flex justify-center items-center gap-4">
          <h4 class="overview__icon"><i class="fa-solid fa-truck-fast text-[35px] text-main"></i></h4>
          <div>
            <h3 class="text-black font-semibold text-[25x]">Free shipping order</h3>
            <p>On orders over $100</p>
          </div>
        </div>
      </div>


      <div class="card-overview shadow-sm border border-[rgba(0,0,0,0.3)] rounded-s-full rounded-e-full py-5">
        <div class="flex justify-center items-center gap-4">
          <h4 class="overview__icon"> <i class="fa-solid fa-gift text-[35px] text-main"></i></h4>
          <div>
            <h3 class="text-black font-semibold text-[25x]">Special gift card </h3>
            <p>The perfect gift idea </p>
          </div>
        </div>
      </div>


      <div class="card-overview shadow-sm border border-[rgba(0,0,0,0.3)] rounded-s-full rounded-e-full py-5">
        <div class="flex justify-center items-center gap-4">
          <h4 class="overview__icon"> <i class="fa-solid fa-rotate text-[35px] text-main"></i> </h4>
          <div>
            <h3 class="text-black font-semibold text-[25x]">Return & exchange</h3>
            <p>Free return within 3 days </p>
          </div>
        </div>
      </div>


      <div class="card-overview shadow-sm border border-[rgba(0,0,0,0.3)] rounded-s-full rounded-e-full py-5">
        <div class="flex justify-center items-center gap-4">
          <h4 class="overview__icon"> <i class="fa-solid fa-phone text-[35px] text-main"></i> </h4>
          <div>
            <h3 class="text-black font-semibold text-[25x]">Support 24 / 7</h3>
            <p>Customer support   </p>
          </div>
        </div>
      </div>





    </div>
  </div>
</section>
